<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            
            <a class="nav-item nav-link" id="home"
                >Profile</a>
            <a class="nav-item nav-link" id="logout" href=''>Logout</a>
            
            <a class=" nav-item nav-link" id="login" href="">Login</a>
            <a class="nav-item nav-link" id="signUp" href="">Signup</a>
            
        </div>
        <h5 style="color: white; margin-left: 70%; font-weight: 900;">ONE-MINUTE-PITCH</h5>
    </div>
</nav>
